@charset "utf-8";

.logo {
    background-color: #888fdc;
    grid-area: logo;
    font-weight: 700;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    color: white;
    cursor: pointer;

    img {
      width: 125px;
      height: 70px;
      object-fit: fill;
    }
  }
